# VIT ASSIGNMENT-1

BHAVYA SRI DUGGINA

TASK -1 Create a pandas dataframe with numpy randomvalues

In [1]:
import pandas as pd 
import numpy as np
from numpy import random

In [2]:
df=pd.DataFrame(random.randint(100,size=(4,4)))

In [3]:
print(df)

    0   1   2   3
0  93  55  14  57
1  75  56  90  58
2  95  79  10  61
3  58  54  65  61

TASK-2   Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [4]:
df.rename(columns={0:'Random value 1',1:'Random value 2',2:'Random value 3',3:'Random value 4'},inplace=True)

In [5]:
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0              93              55              14              57
1              75              56              90              58
2              95              79              10              61
3              58              54              65              61

TASK-3 Find the descriptive statistics of the 'df' dataframe

In [6]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count         4.00000        4.000000        4.000000        4.000000
mean         80.25000       61.000000       44.750000       59.250000
std          17.34695       12.027746       39.203529        2.061553
min          58.00000       54.000000       10.000000       57.000000
25%          70.75000       54.750000       13.000000       57.750000
50%          84.00000       55.500000       39.500000       59.500000
75%          93.50000       61.750000       71.250000       61.000000
max          95.00000       79.000000       90.000000       61.000000

TASK-4 check for the null values and find the datatype of columns

1.check null values

In [7]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

2.Find datatype of columns

In [8]:
df.dtypes

Random value 1    int32
Random value 2    int32
Random value 3    int32
Random value 4    int32
dtype: object

combinely finding both dtype and null values

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      int32
 1   Random value 2  4 non-null      int32
 2   Random value 3  4 non-null      int32
 3   Random value 4  4 non-null      int32
dtypes: int32(4)
memory usage: 192.0 bytes

TASK-5 Display the 'Random value 2' & 'Random value 3' columns with location method

In [10]:
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0              55              14
1              56              90
2              79              10
3              54              65

In [11]:
df.iloc[:,1:3]

   Random value 2  Random value 3
0              55              14
1              56              90
2              79              10
3              54              65

THE END

THANK YOU

BHAVYA SRI DUGGINA

In [12]:
np.zeros(3, 4)

TypeError: Cannot interpret '4' as a data type

In [13]:
np.zeros((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [14]:
df['Random value 1']

0    93
1    75
2    95
3    58
Name: Random value 1, dtype: int32